<h1>User List</h1>

<%= link_to 'new user', [:new] %>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to [user] do %>
    <%= user.fullname() %>
    <% end %>
    <br/>
    <%= user.email %>
    </li>
  <% end %>
</ul>
